header{
    background-color: #333;
    color: #fff;
    text-align: center;
}
.menuItems{
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
}
.menuItems li{
    padding: 10px;
}
.menuItems li a{
    color: #fff;
    text-decoration: none;
}
